.form{
    text-align: center;
    border: 5px solid blue;
    width: 188px;
    height: auto;
    padding: 15px;
}
/* first line */
.one {
    padding-top: 15px;
}
.one input{
    width: 40px;
    height: auto;
    border: 2px solid aqua;
    background-color: inherit;
}
.one :hover{
    color: red;
    background-color: blue;

}
/* second line*/
.sec{
    padding-top: 15px;
}
.sec input{
    width: 40px;
    height: auto;
    border: 2px solid aqua;
    background-color: inherit;
}
.sec :hover{
    color: red;
    background-color: blue;

}
/*third line*/
.ther{
    padding-top: 15px;
}
.ther input{
    width: 40px;
    height: auto;
    border: 2px solid aqua;
    background-color: inherit;
}
.ther :hover{
    color: red;
    background-color: blue;

}
/*fourth line*/
.for{
    padding-top: 15px;

}
.for input{
    width: 40px;
    height: auto;
    border: 2px solid aqua;
    background-color: inherit;

}
/*.for button :hover{
    color: red;
    background-color: blue;

}